/* App.css */
.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 20px;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}

.login-button {
  background-color: navy;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
