.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
}

.header-left h1 {
  font-family: 'asap', sans-serif;
  margin: 0;
  color: #234C9E;
  text-decoration: underline; 
  font-weight: lighter;
  font-size: 20px;
  text-decoration-color: white;
}

.header-left {
  text-align: left;
}

.loggingright {
  text-align: center;
}

.login-button {
  background-color: white;
  color: black;
  border: 3px solid black;
  border-color: black;
  cursor: pointer;
  font-size: 17px ;
  padding: 10px 20px;
  font-weight: bold;
}

.loggedin-button{
  background-color: white;
  color: black;
  border: 3px solid black;
  border-color: black;
  cursor: pointer;
  font-size: 17px ;
  padding: 10px 20px;
  font-weight: bold;
}

.loggedin-button:last-child{
  margin: -3px;
}

.signup-button {
  background-color: white;
  color: black;
  border: 3px solid black;
  border-color: black;
  cursor: pointer;
  font-size: 17px ;
  padding: 10px 20px;
  font-weight: bold;
  margin-left: -5px;
}

.line1 {
  border-top: 3px solid black;
  margin-bottom: -3px;
}
.line2 {
  border-top: 3px solid black;
  margin-top: -3px;
}

p {
  font-size: 16px;
  font-weight: normal;
  margin-right: 30px; 
}

.header-text-line1 {
  font-size: 20px;
  margin: 30px;
  font-family: 'asap', sans-serif;
}

.header-text-line2 {
  font-size: 60px;
  margin-bottom: 40px;
  font-family: 'inria-serif', serif;
}

.h-flex {
  display: flex;
  flex-direction: row;
}