.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 20px;
}

.header-left h1 {
  margin: 0;
  color: black;
  text-decoration: underline; 
  text-decoration-color: lightgray;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}

.login-button {
  background-color: navy;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 17px ;
  border-radius: 10px;
}
  