@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.hero-container {
    text-align: center;
    margin-top: 50px;
}

.hero-button {
    background-color: navy;
    color: white;
    padding: 15px 23px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.problems-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problem-item {
    width: 80%;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    transition-duration: 0.5s;
}

.problem-selectable:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.problem-item h3{
    color: black;
    text-decoration: underline; 
    text-decoration-color: white;
    font-size: 20px;
}

.problem-item p {
    font-weight: bolder;
}

.problem-top p{
    font-family: 'Asap', sans-serif;
}

.header-link {
    color: black;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
}

.statement-desc {
    font-family: 'Asap', sans-serif;
    font-weight: lighter;
    color: gray;
}

.statement-desc p {
    font-size: 15px;
}

.topic-tag, .contest-tag{
    padding: 1px 10px;
    border-radius: 20px;
    font-family: 'Asap', sans-serif;
    font-weight: 200;
}

.topic-tag {
    color: black;
    border: solid 2px black;
}

.contest-tag {
    background-color: black;
    color: white;
}

.solid-rect {
    border-radius: 0;
    padding: 5px 15px;
}

.black-bg {
    background-color: black;
    color: white;
    border: none;
}

.clickable {
    cursor: pointer;
}