.problem-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 50px;
  margin-bottom: 40px;
}

.problem-form {
  background-color: white;
  width: 50%;
  padding: 30px;
  border: 2px solid black;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  text-align: center;
}

.problem-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.label h3{
  font-weight: 100;
  text-align: center;
  margin-bottom: 50px;
}

.problem-form input,
.problem-form textarea {
  width: 95%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 0;
  margin: 0 auto;
}

.problem-form textarea {
  height: 150px;
}

.problem-form button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: 'asap', sans-serif;
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

.line {
  width: 100%;
  border-top: 1px solid #000;
  margin: 10px auto; 
}
